<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.perrigogames.life4trials">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".Life4Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".activity.PlacementListActivity"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="ID_UPDATES_CHANNEL" />

        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirstRunInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.FirstRunActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.PlayerProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrialListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.PlayerProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher" />
        <activity
            android:name=".activity.TrialDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SongEntryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.TrialSubmissionActivity"
            android:label="@string/confirm_trial_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrialRecordsActivity"
            android:label="@string/title_activity_records"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RankListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".activity.RankDetailsActivity" />
        <activity android:name=".activity.Life4DescriptionActivity" />
        <activity android:name=".activity.PlacementDetailsActivity" />
        <activity android:name=".activity.MatrixTestActivity" />
        <activity
            android:name=".activity.LadderLeaderboardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.SingleSongTournamentActivity"
            android:parentActivityName=".activity.PlayerProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.perrigogames.life4trials.activity.PlayerProfileActivity" />
        </activity>
        <activity android:name=".activity.FirstRankSelectionActivity" />

        <service
            android:name=".api.Life4FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".util.NotificationCopyHandler"
            android:enabled="true">
            <intent-filter>
                <action android:name="ACTION_COPY_CLIPBOARD" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${providerName}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>